{% extends "base.html" %}
 
{% block content %}


<h1>{{book.title}}</h1>
<img height="120" width="80" src="{{ MEDIA_URL }}{{ book.image }}">
<p><a href="{% url 'author_books' book.author %}"><h4>{{book.author}}</h4></a></p>
<p><a href="{% url 'genre_books' book.genre %}">{{ book.genre }}</a></p>
<p>{{ book.status }}</p>
<p>{{book.description}}</p>
<p><a href="{% url 'seller_books' book.seller.id %}">{{ book.seller }}</a></p>
<p>{{book.ISBN}}</p>
<h4>{{book.price}}</h4>

{% comment %}<button class="btn btn-default" onclick="location.href='edit'">Edit</button>{% endcomment %}

{% if book.seller == user %}
<p><button class="btn btn-default" onclick="location.href='{% url 'edit_book' book.id %}'">Edit</button> </p>
                {% elif book.status == "Sold" %}
                <td></td>
                <td></td>
{% else %}
<p><button class="btn btn-default" onclick="location.href='{% url 'buy_now_stripe' book.id %}'">Buy Book</button></p>
<p><form method="post" action="{% url 'add_to_cart' book.id %}">
                        {% csrf_token %}
                        <!--Quantity
                        <input name='quantity' type="number" min="1" max="999">-->
                        <button class="btn btn-default", type="submit">Add to Cart</button>
                    </form></p>
{% endif %}

<br>

<p><button class="btn btn-default" onclick="location.href='/books'">Back to Books</button> </p>

{% load disqus_tags %}
{% set_disqus_title post.title %}
{% disqus_show_comments %}

{% endblock %}