{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Status</th>
            <th>Description</th>
            <th>Seller</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><img height="120" width="80" src="{{ MEDIA_URL }}{{ item.book.image }}"></td>
                <td><a href="{% url 'book_detail' item.book.id %}">{{ item.book.title }}</a></td>
                <td><a href="{% url 'author_books' item.book.author %}">{{ item.book.author }}</a></td>
                <td><a href="{% url 'genre_books' item.book.genre %}">{{ item.book.genre }}</a></td>
                <td>{{ item.book.status }} </td>
                <td>{{ item.book.description|truncatewords:60 }}</td>
                <td><a href="{% url 'seller_books' item.book.seller.id %}">{{ item.book.seller }}</a></td>
                <td>{{ item.book.ISBN }}</td>
                <td>{{ item.book.price }}</td>
                <td>
                    <form method="post" action="{% url 'remove_cart' item.id %}">
                        {% csrf_token %}
                        <button type="submit">Remove from Cart</button>
                        {% comment %}Quantity
                        <input name='quantity' type="number" min="0" max="999">
                        <button type="submit">Adjust</button>{% endcomment %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ total }}</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <hr>

    <form role="form" method="post" id="payment-form" action="{% url 'cart' %}">
        <div id="credit-card-errors" style="display:none">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <legend>Pay Now!</legend>

        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="form-group">
            <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>

{% endblock %}